<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>73893220524-nf8mfdi5bh76abfr983lmj6le5icc45h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73893220524-nf8mfdi5bh76abfr983lmj6le5icc45h</string>
	<key>API_KEY</key>
	<string>AIzaSyDlEvP73NqweiN5yR_1-Ywxp6piJ-ndCGc</string>
	<key>GCM_SENDER_ID</key>
	<string>73893220524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jjin.Geoflare</string>
	<key>PROJECT_ID</key>
	<string>flaremap</string>
	<key>STORAGE_BUCKET</key>
	<string>flaremap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:73893220524:ios:d38e3479f5acae18</string>
	<key>DATABASE_URL</key>
	<string>https://flaremap.firebaseio.com</string>
</dict>
</plist>
